@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient-text {
  background: linear-gradient(90deg, #00aaa7, #7e42a7, #6070fd, #2a46ff, #0099ff, #008ead);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;

}